.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
}
.product h3{
    color:blue;
    font-weight: 400;
}
.btn-purchase{
    background-color: goldenrod;
    width: 150px;
    padding: 5px;
}